@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
  padding: 0;
}


/* Registration radio buttons */
.register-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.register-radio-btn {
  margin: 5px;
}

.filler {
  flex: 1 1 auto;
}

main {
  padding: 20px;
}

.tab-container {
  padding: 5px;
}

/*
.account-loginReg {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 45px;
}

.accountCard {
  display: block;
  width: 40%;
}
*/