<!-- 
<mat-card>
    <mat-card-title>Recording & OGG Export</mat-card-title>
    <mat-card-content>
        <button mat-raised-button (click)="manageWhtNoise_Record()" color="primary">White Noise-1</button>
        <button mat-raised-button (click)="playRecording()" color="accent">Play Record</button>
        <button mat-raised-button (click)="postRecording()" color="primary">Post Recording</button>
        <button mat-raised-button (click)="playFetchedAudio()" color="warn">Fetch Audio</button>
    </mat-card-content>
</mat-card>
<br>
<mat-divider></mat-divider>
<br>
-->

<mat-card>
    <mat-card-title>Record Audio</mat-card-title>
    <audio controls="" *ngIf="mikeRecordURL">
        <source [src]="sanitize(mikeRecordURL)" type="audio/wav">
    </audio>
    <button mat-raised-button (click)="recordMicoPhone()" color="primary">Record Audio</button>
    <button mat-raised-button (click)="stopRecording()" color="primary">Stop Recording</button>
    <button mat-raised-button (click)="postTrack()" color="primary">Post Recording</button>
</mat-card>

<br>
<mat-divider></mat-divider>
<br>

<mat-card>
    <mat-card-title>Test Tracks Class: Raw Audio Getter, Player + Sync-Play</mat-card-title>
    <ul>
        <li *ngFor="let meta of mockMeta">
            <p>Track Name: {{ meta.name }}</p>
            <button mat-raised-button (click)="fetchTrack(meta.name, meta.path)" color="primary">Fetch Track</button>
            <button mat-raised-button (click)="playFromTracks(meta.name)" color="accent">Play Track</button>
            <button mat-raised-button (click)="dropFromTracks(meta.name)" color="warn">Drop Track</button>
            <button mat-raised-button (click)="tracks_MultiPlay(meta.name)" color="primary">Sync Play</button>
        </li>
    </ul>
    <br>
    <button mat-raised-button (click)="sortTracks()" color="accent">Sort Tracks</button>
    <button mat-raised-button (click)="tracksMixer(tracks)" color="warn">Mix Tracks</button>
</mat-card>

<br>
<mat-divider></mat-divider>
<br>

<mat-card>
    <mat-card-title>Test Playing a Mixed Track</mat-card-title>
    <h4>Figure Out Mixed Track Here: Audio Source with Controls </h4>
    <audio controls="" *ngIf="mixedURL">
        <source [src]="sanitize(mixedURL)" type="audio/wav">
    </audio>
</mat-card>

<!--
<mat-card>
    <mat-card-title>Single/Multi Track Player</mat-card-title>
    <mat-card-content>
        <mat-slider></mat-slider>
        <br>
        <mat-divider></mat-divider>
        <div class="container" fxLayout="row" fxLayoutGap="20px">
            <button mat-raised-button color="primary">Play</button>
            <button mat-raised-button color="accent">Pause</button>
            <button mat-raised-button color="warn">Stop</button>
        </div>
    </mat-card-content>
</mat-card>
<br>
<mat-divider></mat-divider>
<br>

<mat-card>
    <mat-card-title>Load & Edit</mat-card-title>
    <mat-card-content  class="container" fxLayout="row" fxLayoutGap="20px">

        
        <div>
            <ul *ngFor="let rawTracks of project?.rawAudio">
                <li id="muliTrackList">
                    <div>
                        <span>Raw Audio Track: {{ rawTracks?.path }} </span>
                        <button mat-raised-button color="accent">Add / Drop</button>
                    </div>
                </li>
            </ul>
        </div>
        <mat-divider></mat-divider>
        <br>
        <h2>Edit a Raw Track</h2>
        <div>
            <span>Active Track: {{ activeTrackEdit }} </span><button mat-button [matMenuTriggerFor]="menu">Choose Track</button>
            <mat-menu #menu="matMenu">
                <ul id="trackEditList" *ngFor="let rawTracks of project?.rawAudio">
                    <li (click)="setActiveTrackEdit(rawTracks?.path)">{{ rawTracks?.path }}</li>
                </ul>
            </mat-menu>
            <h2>Volume Control</h2>
            <h2>Distortion Control</h2>
        </div>

    </mat-card-content>
</mat-card>
-->