<mat-toolbar color="primary">
  <h1>Demo from NGX File Helper</h1>
  <span class="filler"></span>
  <a href="https://github.com/fvilers/ngx-file-helpers" mat-button>
    Reference-GitHub
  </a>
</mat-toolbar>

<main class="mat-typography">
  <mat-tab-group dynamicHeight="true">
    <mat-tab label="File Picker">
      <div class="tab-container">
        <app-file-picker></app-file-picker>
      </div>
    </mat-tab>

    <mat-tab label="File Dropzone">
      <div class="tab-container">
        <app-file-dropzone></app-file-dropzone>
      </div>
    </mat-tab>
  </mat-tab-group>
</main>